<!DOCTYPE html>
<html>
  <head>
    <title>CarroDeCompra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <% if notice.present? %>
      <%= notice %>
    <% end %>

    <% if alert.present? %>
      <%= alert %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
